<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Hello, here you can get some humans</h1>
    <form action="users">
        <input type="submit" value="All humans" />
    </form>
    <form action="search">
        <input type="submit" value="Humans' searcher" />
    </form>
    <form action="create">
    <input type="submit" value="Humans' maker" />
    </form>
</body>
</html>